 .menus{
        margin: 50px 60px 0px 0px;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        padding: 0 18%;
        
     }   

    .container{
        max-width: 985px;
        margin: 0 auto;
        margin-left: 18.6%;
        padding: 0 8%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 20px;
        flex-wrap: wrap;

    }
  
    .item:nth-child(1) { flex-grow: 3; }
    .item:nth-child(2) { flex-grow: 1; }
    .item:nth-child(3) { flex-grow: 1; }
    .item:nth-child(4) { flex-grow: 1; }
    .qna{
        display: flex;
        gap: 10px;

    }

    #bnk{
        font-size: 40px; color: red;

    }

    #squre{
        margin: 40px 0px 0px 500px;
        width: 800px;
        height: 310px;
        background-color: red;
        justify-content: center; 
        align-items: center;
        font-size: 30px;
        display: flex;
        color: white;   

    }

    .nemo{
        
        margin-top: -16.3%;
        margin-right: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
       
    }
    
    .semo{
        width: 150px;
        height: 90px;
        display: flex;
        justify-content: center; 
        align-items: center;
        color: white;
    }
    #red{
        background-color: red;
    }

    #black{
        background-color: black;
    }    
    #sky{
        background-color: skyblue;
    }
    
    .box{
        margin: 100px 500px 0px 500px;

        display: flex;
        justify-content: space-between;
        font-size: 30px;
        align-items: center;
    
    }
    .string{
        margin-left: 450px;
        margin-top: 9%;
        font-size: 20px;
    }

    ul{

        list-style-type: none;

    }
    #titl{
        font-size: 25px;

    }

    .char{
        
        margin-left: 700px;
        margin-top: -9%;
        font-size: 20px;
        padding: 0%;

    }
    #named{
        font-size: 25px;

    }
    .boxes{
        margin-left: 1080px;
        margin-top: -300px;
        display: grid;
        flex-wrap: wrap;
        gap: 10px;
        grid-template-columns: 200px 200px;
        
        
        
    }
    .itemas{
        
        height: 100px;
        line-height: 100px;
        text-align: center;
        color:black;
        border: 1px solid black;
      
   
    }  
    .bottoms{
     ul{ 
        list-style-type: disc;
        list-style-position: outside;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
     
    }
    font-size: 14px;
    max-width: 1050px; 
    margin: auto;
    margin-right: 20.8%;
    }
    #skyblue{
        color: skyblue;
    }

    p{
        margin-left: 25.7%;
    }